deploy/dify/home_furnishing_showcase_chatflow.yml
# Dify DSL — 家居素材融入空间（无方案推荐）
#
# 模式：advanced-chat
# ─────────────────────────────────────────────────────────────────────────
# 每轮：GET furnishing-assets → 仅展示消息中已识别 id（无 id 则简短用法）→ 提取本轮首张图 URL → **先 POST conversation-image**（有图即缓存）
#       → GET conversation-room-image → Merge（底图=本轮图或缓存；**BOM 方案卡**与已选 id 同步）→ 有 id+底图则 compose，否则用法提示 + gate_hint
#       合成分支不再重复 snap（避免「只上传无 id」时从未写缓存）
#
# 用户用法：上传空间实景图 + 文字列出要融入的 id（逗号/空格均可，最多 4 个），例如
#   demo-sofa-01 demo-coffee-table-01
# 若上一轮已上传过图，本轮可只发 id，网关会从会话缓存取房间图。
#
# 导入后必做：
# 1) 「拉取素材库」「缓存会话图片」「读取缓存空间图URL」「家居素材融入」HTTP → Bearer → SALON_INTERNAL_BOOKING_TOKEN
# 2) 「家居素材融入」read timeout ≥ 90s；SALON_WANXIANG_MODEL=wan2.7-image 或 wan2.7-image-pro
# 3) 域名与路径按部署替换

app:
  description: 用户自选素材 SKU，将产品参考图融入上传的空间实景（万相 2.7 多图编辑）
  icon: 🛋️
  icon_background: '#E8F4FD'
  mode: advanced-chat
  name: 家居素材融入空间
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: true
        number_limits: 5
        transfer_methods:
          - remote_url
          - local_file
    opening_statement: |-
      你好。可先**只上传实景图**，再发一条消息写**素材 id**；也可**同一条消息**里「图 + id」一起发（id 与侧栏 / 产品列表中的素材一致，最多 4 个，空格/逗号均可）。
      仅按你选的素材做多图合成示意。
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
      - demo-sofa-01 demo-coffee-table-01
      - 已传图，发 id：demo-sofa-01
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - id: e-start-http-assets
        source: node_start
        sourceHandle: source
        target: node_http_furnishing_assets
        targetHandle: target
      - id: e-assets-catalog
        source: node_http_furnishing_assets
        sourceHandle: source
        target: node_code_catalog
        targetHandle: target
      - id: e-catalog-room-image
        source: node_code_catalog
        sourceHandle: source
        target: node_code_room_image
        targetHandle: target
      - id: e-room-image-snap
        source: node_code_room_image
        sourceHandle: source
        target: node_http_snap_image
        targetHandle: target
      - id: e-snap-room-cache
        source: node_http_snap_image
        sourceHandle: source
        target: node_http_room_cache
        targetHandle: target
      - id: e-room-cache-merge
        source: node_http_room_cache
        sourceHandle: source
        target: node_code_merge
        targetHandle: target
      - id: e-merge-ifelse
        source: node_code_merge
        sourceHandle: source
        target: node_ifelse_ready
        targetHandle: target
      - id: e-ifelse-compose
        source: node_ifelse_ready
        sourceHandle: ready
        target: node_http_compose
        targetHandle: target
      - id: e-compose-parse
        source: node_http_compose
        sourceHandle: source
        target: node_code_parse_preview
        targetHandle: target
      - id: e-parse-answer-done
        source: node_code_parse_preview
        sourceHandle: source
        target: node_answer_done
        targetHandle: target
      - id: e-ifelse-answer-wait
        source: node_ifelse_ready
        sourceHandle: 'false'
        target: node_answer_wait
        targetHandle: target

    nodes:
      - data:
          desc: ''
          title: Start
          type: start
          variables: []
        id: node_start
        position:
          x: 80
          y: 320
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          authorization:
            config:
              api_key: '_Z1gtxZYpDuNSYrZzzn6A4WFTXAB_SCCdWEXsVWRVpo'
              header: ''
              type: bearer
            type: api-key
          body:
            data:
              - id: json-body-furnishing-assets
                key: ''
                type: text
                value: '{}'
            type: json
          desc: 拉取网关素材库 JSON（items）
          headers: 'Content-Type: application/json'
          method: get
          params: ''
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 400
          ssl_verify: true
          timeout:
            max_connect_timeout: 10
            max_read_timeout: 30
            max_write_timeout: 10
          title: 拉取素材库
          type: http-request
          url: https://quizmesh.tech/salon/internal/furnishing-assets?limit=30
          variables: []
        id: node_http_furnishing_assets
        position:
          x: 240
          y: 320
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          code: |
            import html
            import json
            import re

            def _thumb(url: str, alt: str) -> str:
                u = (url or "").strip()
                if not u:
                    return ""
                return (
                    f'<img src="{html.escape(u)}" width="96" height="96" alt="{html.escape(alt)}" '
                    'loading="lazy" style="object-fit:cover;border-radius:8px;margin:4px 0;display:block;" />'
                )

            def _usage_hint() -> str:
                return (
                    "> **用法**\n"
                    "> - 同一条消息：**实景图** + 素材 **id**（最多 4 个，空格或逗号均可）\n"
                    "> - 或分两步：先上传实景图，再发一条只含 **id** 的文字\n"
                    "> - 完整素材列表请在侧栏 / 产品列表中查看；此处不展开列表。"
                )

            def main(body: str, query: str) -> dict:
                try:
                    data = json.loads(body or "{}")
                except Exception:
                    return {"catalog_text": "素材库暂不可用，请稍后重试。"}
                items = data.get("items")
                if not isinstance(items, list) or not items:
                    return {"catalog_text": "素材库暂无条目。" + "\n\n" + _usage_hint()}
                id_to_url: dict[str, str] = {}
                id_to_name: dict[str, str] = {}
                for it in items:
                    if not isinstance(it, dict):
                        continue
                    iid = str(it.get("id") or "").strip()
                    if not iid:
                        continue
                    u = str(it.get("image_url") or "").strip()
                    if u:
                        id_to_url[iid] = u
                    nm = str(it.get("name") or "").strip()
                    if nm:
                        id_to_name[iid] = nm
                keys = list(id_to_url.keys())
                if not keys:
                    return {"catalog_text": "素材库暂无带预览图的条目。" + "\n\n" + _usage_hint()}
                alt = "|".join(re.escape(k) for k in sorted(keys, key=len, reverse=True))
                pat = re.compile(alt)
                q = query or ""
                selected: list[str] = []
                for m in pat.finditer(q):
                    kid = m.group(0)
                    if kid not in selected:
                        selected.append(kid)
                    if len(selected) >= 4:
                        break
                if not selected:
                    return {"catalog_text": _usage_hint()}
                lines = ["### 本轮已识别素材", ""]
                for kid in selected:
                    name = id_to_name.get(kid, "")
                    title = f"**`{kid}`**" + (f" · {name}" if name else "")
                    lines.append(title)
                    t = _thumb(id_to_url.get(kid, ""), kid)
                    if t:
                        lines.append(t)
                    lines.append("")
                lines.append("---")
                lines.append("*以上为当前消息中识别到的 id；若需更换，请在下一条消息中改写 id。*")
                return {"catalog_text": "\n".join(lines).strip()}
          code_language: python3
          desc: 仅将用户消息中已识别的素材 id 格式化为 Markdown（含缩略图）；无 id 时输出简短用法提示
          outputs:
            catalog_text:
              description: 已选素材片段或用法提示（Markdown）
              type: string
          title: 格式化已选素材展示
          type: code
          variables:
            - label: body
              value_selector:
                - node_http_furnishing_assets
                - body
              variable: body
            - label: query
              value_selector:
                - sys
                - query
              variable: query
        id: node_code_catalog
        position:
          x: 420
          y: 320
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          code: |
            def main(files: list) -> dict:
                for f in files or []:
                    if not isinstance(f, dict):
                        continue
                    u = (f.get("url") or f.get("remote_url") or "").strip()
                    if u:
                        return {"image_url": u}
                return {"image_url": ""}
          code_language: python3
          desc: 从本轮 sys.files 取首张实景图 URL，供先写会话缓存
          outputs:
            image_url:
              description: 本轮首张图 URL，无图为空
              type: string
          title: 提取实景图URL
          type: code
          variables:
            - label: files
              value_selector:
                - sys
                - files
              variable: files
        id: node_code_room_image
        position:
          x: 500
          y: 320
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          authorization:
            config:
              api_key: '_Z1gtxZYpDuNSYrZzzn6A4WFTXAB_SCCdWEXsVWRVpo'
              header: ''
              type: bearer
            type: api-key
          body:
            data:
              - id: json-body-snap
                key: ''
                type: text
                value: '{"conversation_id":"{{#sys.conversation_id#}}","image_url":"{{#node_code_room_image.image_url#}}"}'
            type: json
          desc: 每轮先执行：有图则写入会话，便于随后只发 id 也能命中底图
          headers: 'Content-Type: application/json'
          method: post
          params: ''
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 500
          ssl_verify: true
          timeout:
            max_connect_timeout: 10
            max_read_timeout: 30
            max_write_timeout: 10
          title: 缓存会话图片
          type: http-request
          url: https://quizmesh.tech/salon/internal/conversation-image
          variables: []
        id: node_http_snap_image
        position:
          x: 580
          y: 320
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          authorization:
            config:
              api_key: '_Z1gtxZYpDuNSYrZzzn6A4WFTXAB_SCCdWEXsVWRVpo'
              header: ''
              type: bearer
            type: api-key
          body:
            data:
              - id: json-body-room-cache-get
                key: ''
                type: text
                value: '{}'
            type: json
          desc: 读取 POST /internal/conversation-image 已写入的会话空间图 URL（无则 image_url 为空）
          headers: 'Content-Type: application/json'
          method: get
          params: ''
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 400
          ssl_verify: true
          timeout:
            max_connect_timeout: 10
            max_read_timeout: 20
            max_write_timeout: 10
          title: 读取缓存空间图URL
          type: http-request
          url: 'https://quizmesh.tech/salon/internal/conversation-room-image?conversation_id={{#sys.conversation_id#}}'
          variables: []
        id: node_http_room_cache
        position:
          x: 660
          y: 320
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          code: |
            import html
            import json
            import re

            def _empty():
                return {
                    "compose_body_json": "",
                    "image_url": "",
                    "selected_ids_line": "",
                    "gate_hint": "",
                    "room_note": "",
                    "selected_thumbnails_md": "",
                    "bom_markdown": "",
                }

            def _bom_markdown(selected: list[str], id_meta: dict[str, dict]) -> str:
                if not selected:
                    return ""

                def cell(s: str) -> str:
                    t = (s or "").replace("|", "·").replace("\n", " ").strip()
                    return html.escape(t) if t else "—"

                lines = ["## 软装方案卡（BOM）", ""]
                lines.append("| # | SKU | 名称 | 分类 | 标签 |")
                lines.append("| :---: | --- | --- | --- | --- |")
                for idx, kid in enumerate(selected, start=1):
                    m = id_meta.get(kid)
                    if m:
                        name = cell(m.get("name", ""))
                        cat = cell(m.get("category", ""))
                        tgs = cell(m.get("tags", ""))
                    else:
                        name = cat = tgs = "—"
                    kid_esc = html.escape(kid.replace("|", "·"))
                    lines.append(f"| {idx} | `{kid_esc}` | {name} | {cat} | {tgs} |")
                return "\n".join(lines)

            def _selected_thumbs_md(selected: list[str], id_to_url: dict[str, str]) -> str:
                parts: list[str] = []
                for kid in selected:
                    u = (id_to_url.get(kid) or "").strip()
                    if not u:
                        continue
                    parts.append(
                        f'<img src="{html.escape(u)}" width="96" height="96" alt="{html.escape(kid)}" '
                        'loading="lazy" style="object-fit:cover;border-radius:8px;margin:4px;display:inline-block;" />'
                    )
                if not parts:
                    return ""
                return "**所选素材预览**\n\n" + " ".join(parts)

            def main(body: str, query: str, conversation_id: str, cache_body: str, image_url: str) -> dict:
                try:
                    data = json.loads(body or "{}")
                except Exception:
                    data = {}
                items = data.get("items")
                id_to_url: dict[str, str] = {}
                id_meta: dict[str, dict] = {}
                if isinstance(items, list):
                    for it in items:
                        if not isinstance(it, dict):
                            continue
                        iid = str(it.get("id") or "").strip()
                        if not iid:
                            continue
                        tags = it.get("tags")
                        if isinstance(tags, list):
                            tg = "、".join(str(t).strip() for t in tags if str(t).strip())
                        else:
                            tg = ""
                        id_meta[iid] = {
                            "name": str(it.get("name") or "").strip(),
                            "category": str(it.get("category") or "").strip(),
                            "tags": tg,
                            "url": str(it.get("image_url") or "").strip(),
                        }
                        u = str(it.get("image_url") or "").strip()
                        if u:
                            id_to_url[iid] = u
                try:
                    c = json.loads(cache_body or "{}")
                    cached_url = (c.get("image_url") or "").strip()
                except Exception:
                    cached_url = ""
                img = (image_url or "").strip()
                keys = list(id_to_url.keys())
                if not keys:
                    return _empty()
                alt = "|".join(re.escape(k) for k in sorted(keys, key=len, reverse=True))
                pat = re.compile(alt)
                q = query or ""
                selected: list[str] = []
                for m in pat.finditer(q):
                    kid = m.group(0)
                    if kid not in selected:
                        selected.append(kid)
                    if len(selected) >= 4:
                        break
                if not selected:
                    if img:
                        return {
                            **_empty(),
                            "gate_hint": (
                                "实景图已写入会话。下一条消息请发送素材 **id**（最多 4 个；"
                                "id 见侧栏 / 产品列表）。"
                            ),
                        }
                    return _empty()
                bom = _bom_markdown(selected, id_meta)
                product_urls = [id_to_url[k] for k in selected if k in id_to_url][:4]
                if not product_urls:
                    return {
                        **_empty(),
                        "selected_ids_line": ",".join(selected),
                        "bom_markdown": bom,
                    }
                room_effective = img or cached_url
                if not room_effective:
                    return {
                        **_empty(),
                        "selected_ids_line": ",".join(selected),
                        "selected_thumbnails_md": _selected_thumbs_md(selected, id_to_url),
                        "bom_markdown": bom,
                        "gate_hint": (
                            "已识别素材 id，但本会话还没有可用的**空间实景图**。"
                            "请先上传房间照片（可与 id 同条发送）；若刚上传完，请**再发一条**仅含 id 的消息以触发合成。"
                        ),
                    }
                hint = (
                    "用户自选素材 id（按出现顺序融入，产品图以参考为准）："
                    + ",".join(selected)
                    + "。用户原话摘录："
                    + (q.strip()[:1500] if q.strip() else "（无）")
                )
                payload = {
                    "room_image_url": room_effective,
                    "product_image_urls": product_urls,
                    "style_notes": hint,
                    "conversation_id": (conversation_id or "").strip(),
                }
                room_note = (
                    "底图：本轮新上传的实景图。"
                    if img
                    else "底图：本会话此前缓存的实景图（请求里已填入 room_image_url，便于核对）。"
                )
                return {
                    "compose_body_json": json.dumps(payload, ensure_ascii=False),
                    "image_url": img,
                    "selected_ids_line": ",".join(selected),
                    "gate_hint": "",
                    "room_note": room_note,
                    "selected_thumbnails_md": _selected_thumbs_md(selected, id_to_url),
                    "bom_markdown": bom,
                }
          code_language: python3
          desc: 底图=提取节点 URL 或 GET 缓存；无 id 仅上传时提示下一条发 id；已选 SKU 输出 BOM 方案卡 Markdown
          outputs:
            compose_body_json:
              description: 非空则进入合成分支
              type: string
            image_url:
              description: 本轮首张图 URL（可无）
              type: string
            selected_ids_line:
              description: 已选 id 逗号分隔
              type: string
            gate_hint:
              description: 未合成时的提示（如缺实景图）
              type: string
            room_note:
              description: 合成成功分支用的底图来源说明
              type: string
            selected_thumbnails_md:
              description: 已选素材缩略图 HTML/Markdown 片段
              type: string
            bom_markdown:
              description: 软装方案卡（BOM）Markdown 表格，含 #/SKU/名称/分类/标签（无图）
              type: string
          title: 解析所选素材并组装请求
          type: code
          variables:
            - label: body
              value_selector:
                - node_http_furnishing_assets
                - body
              variable: body
            - label: query
              value_selector:
                - sys
                - query
              variable: query
            - label: conversation_id
              value_selector:
                - sys
                - conversation_id
              variable: conversation_id
            - label: cache_body
              value_selector:
                - node_http_room_cache
                - body
              variable: cache_body
            - label: image_url
              value_selector:
                - node_code_room_image
                - image_url
              variable: image_url
        id: node_code_merge
        position:
          x: 780
          y: 320
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          cases:
            - case_id: ready
              conditions:
                - comparison_operator: not empty
                  variable_selector:
                    - node_code_merge
                    - compose_body_json
              logical_operator: and
          desc: compose_body_json 非空则走合成
          title: 已选素材?
          type: if-else
        id: node_ifelse_ready
        position:
          x: 1000
          y: 320
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          authorization:
            config:
              api_key: '_Z1gtxZYpDuNSYrZzzn6A4WFTXAB_SCCdWEXsVWRVpo'
              header: ''
              type: bearer
            type: api-key
          body:
            data:
              - id: json-body-compose
                key: ''
                type: text
                value: '{{#node_code_merge.compose_body_json#}}'
            type: json
          desc: 空间 + 产品参考图多图编辑（万相 2.7）
          headers: 'Content-Type: application/json'
          method: post
          params: ''
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          ssl_verify: true
          timeout:
            max_connect_timeout: 10
            max_read_timeout: 90
            max_write_timeout: 30
          title: 家居素材融入（多图合成）
          type: http-request
          url: https://quizmesh.tech/salon/internal/furnishing-compose-preview
          variables: []
        id: node_http_compose
        position:
          x: 1220
          y: 200
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          code: |
            import json

            def main(body: str) -> dict:
                try:
                    data = json.loads(body or "{}")
                    url = data.get("preview_url") or ""
                except Exception:
                    url = ""
                return {"preview_url": url}
          code_language: python3
          desc: 解析 preview_url
          outputs:
            preview_url:
              description: 合成图 URL
              type: string
          title: 解析合成图URL
          type: code
          variables:
            - label: body
              value_selector:
                - node_http_compose
                - body
              variable: body
        id: node_code_parse_preview
        position:
          x: 1480
          y: 200
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          answer: |-
            {{#node_code_catalog.catalog_text#}}

            {{#node_code_merge.bom_markdown#}}

            {{#node_code_merge.gate_hint#}}
          desc: ''
          title: Answer（待补充 id / 底图）
          type: answer
          variables: []
        id: node_answer_wait
        position:
          x: 1040
          y: 440
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          answer: |-
            {{#node_code_merge.room_note#}}

            {{#node_code_merge.bom_markdown#}}

            {{#node_code_merge.selected_thumbnails_md#}}

            已按 **{{#node_code_merge.selected_ids_line#}}** 与上述底图生成合成示意（AI 参考，非实景承诺）。

            ![]({{#node_code_parse_preview.preview_url#}})
          desc: ''
          title: Answer（合成结果）
          type: answer
          variables: []
        id: node_answer_done
        position:
          x: 1700
          y: 200
        sourcePosition: right
        targetPosition: left
        type: custom
