deploy/dify/home_furnishing_showcase_chatflow.yml
# Dify DSL — 家居素材融入空间（无方案推荐）
#
# 模式：advanced-chat
# ─────────────────────────────────────────────────────────────────────────
# 每轮：GET furnishing-assets → 目录 Code → GET conversation-room-image（拉本会话已缓存的实景 URL）
#       → Merge：本轮上传图优先，否则用缓存 URL 填入 room_image_url；解析 id → 若有空间图且 id 有效则合成
#       → POST conversation-image（本轮有上传时）→ furnishing-compose-preview
#       → 否则仅回复目录 + gate_hint（不上生图）
#
# 用户用法：上传空间实景图 + 文字列出要融入的 id（逗号/空格均可，最多 4 个），例如
#   demo-sofa-01 demo-coffee-table-01
# 若上一轮已上传过图，本轮可只发 id，网关会从会话缓存取房间图。
#
# 导入后必做：
# 1) 「拉取素材库」「读取缓存空间图URL」「缓存会话图片」「家居素材融入」HTTP → Bearer → SALON_INTERNAL_BOOKING_TOKEN
# 2) 「家居素材融入」read timeout ≥ 90s；SALON_WANXIANG_MODEL=wan2.7-image 或 wan2.7-image-pro
# 3) 域名与路径按部署替换

app:
  description: 用户自选素材 SKU，将产品参考图融入上传的空间实景（万相 2.7 多图编辑）
  icon: 🛋️
  icon_background: '#E8F4FD'
  mode: advanced-chat
  name: 家居素材融入空间
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: true
        number_limits: 5
        transfer_methods:
          - remote_url
          - local_file
    opening_statement: |-
      你好。请**上传房间实景图**，并在文字里列出要融入的**素材 id**（与下方「建议问题」或目录一致；逗号/空格分隔，最多 4 个）。
      仅按你选的素材做多图合成示意。若某轮只发 id、不发图，将自动使用本会话里**上一轮已成功缓存**的实景图作为底图。
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
      - demo-sofa-01 demo-coffee-table-01
      - demo-chair-01 demo-bedding-01
      - demo-sofa-01 demo-chair-01 demo-coffee-table-01
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - id: e-start-http-assets
        source: node_start
        sourceHandle: source
        target: node_http_furnishing_assets
        targetHandle: target
      - id: e-assets-catalog
        source: node_http_furnishing_assets
        sourceHandle: source
        target: node_code_catalog
        targetHandle: target
      - id: e-catalog-room-cache
        source: node_code_catalog
        sourceHandle: source
        target: node_http_room_cache
        targetHandle: target
      - id: e-room-cache-merge
        source: node_http_room_cache
        sourceHandle: source
        target: node_code_merge
        targetHandle: target
      - id: e-merge-ifelse
        source: node_code_merge
        sourceHandle: source
        target: node_ifelse_ready
        targetHandle: target
      - id: e-ifelse-snap
        source: node_ifelse_ready
        sourceHandle: ready
        target: node_http_snap_image
        targetHandle: target
      - id: e-snap-compose
        source: node_http_snap_image
        sourceHandle: source
        target: node_http_compose
        targetHandle: target
      - id: e-compose-parse
        source: node_http_compose
        sourceHandle: source
        target: node_code_parse_preview
        targetHandle: target
      - id: e-parse-answer-done
        source: node_code_parse_preview
        sourceHandle: source
        target: node_answer_done
        targetHandle: target
      - id: e-ifelse-answer-wait
        source: node_ifelse_ready
        sourceHandle: 'false'
        target: node_answer_wait
        targetHandle: target

    nodes:
      - data:
          desc: ''
          title: Start
          type: start
          variables: []
        id: node_start
        position:
          x: 80
          y: 320
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          authorization:
            config:
              api_key: 'REPLACE_WITH_SALON_INTERNAL_BOOKING_TOKEN'
              header: ''
              type: bearer
            type: api-key
          body:
            data:
              - id: json-body-furnishing-assets
                key: ''
                type: text
                value: '{}'
            type: json
          desc: 拉取网关素材库 JSON（items）
          headers: 'Content-Type: application/json'
          method: get
          params: ''
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 400
          ssl_verify: true
          timeout:
            max_connect_timeout: 10
            max_read_timeout: 30
            max_write_timeout: 10
          title: 拉取素材库
          type: http-request
          url: https://quizmesh.tech/salon/internal/furnishing-assets?limit=30
          variables: []
        id: node_http_furnishing_assets
        position:
          x: 240
          y: 320
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          code: |
            import json

            def main(body: str) -> dict:
                try:
                    data = json.loads(body or "{}")
                except Exception:
                    return {"catalog_text": "（素材库暂不可用，请稍后重试。）"}
                items = data.get("items")
                if not isinstance(items, list) or not items:
                    return {"catalog_text": "（素材库暂无条目。）"}
                lines = []
                for it in items[:30]:
                    if not isinstance(it, dict):
                        continue
                    iid = str(it.get("id") or "").strip()
                    name = str(it.get("name") or "").strip()
                    cat = str(it.get("category") or "").strip()
                    url = str(it.get("image_url") or "").strip()
                    tags = it.get("tags")
                    if isinstance(tags, list):
                        tg = ",".join(str(t).strip() for t in tags if str(t).strip())
                    else:
                        tg = ""
                    if not iid:
                        continue
                    lines.append(f"- [{iid}] {name} | category={cat} | tags={tg}")
                if not lines:
                    return {"catalog_text": "（素材库无有效 id。）"}
                block = "\n".join(lines)
                return {
                    "catalog_text": "## 可选素材（请从下列 id 中选择，写入回复文字，勿编造 id）\n"
                    + block
                    + "\n\n**操作**：上传空间照片，并列出要融入的 id（例：`demo-sofa-01 demo-coffee-table-01`，最多 4 个）。"
                }
          code_language: python3
          desc: 将 furnishing-assets 解析为 Markdown 目录
          outputs:
            catalog_text:
              description: 素材目录 Markdown
              type: string
          title: 格式化素材目录
          type: code
          variables:
            - label: body
              value_selector:
                - node_http_furnishing_assets
                - body
              variable: body
        id: node_code_catalog
        position:
          x: 420
          y: 320
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          authorization:
            config:
              api_key: 'REPLACE_WITH_SALON_INTERNAL_BOOKING_TOKEN'
              header: ''
              type: bearer
            type: api-key
          body:
            data:
              - id: json-body-room-cache-get
                key: ''
                type: text
                value: '{}'
            type: json
          desc: 读取 POST /internal/conversation-image 已写入的会话空间图 URL（无则 image_url 为空）
          headers: 'Content-Type: application/json'
          method: get
          params: ''
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 400
          ssl_verify: true
          timeout:
            max_connect_timeout: 10
            max_read_timeout: 20
            max_write_timeout: 10
          title: 读取缓存空间图URL
          type: http-request
          url: 'https://quizmesh.tech/salon/internal/conversation-room-image?conversation_id={{#sys.conversation_id#}}'
          variables: []
        id: node_http_room_cache
        position:
          x: 520
          y: 320
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          code: |
            import json
            import re

            def _empty():
                return {
                    "compose_body_json": "",
                    "image_url": "",
                    "selected_ids_line": "",
                    "gate_hint": "",
                    "room_note": "",
                }

            def main(body: str, query: str, files: list, conversation_id: str, cache_body: str) -> dict:
                try:
                    data = json.loads(body or "{}")
                except Exception:
                    data = {}
                items = data.get("items")
                id_to_url: dict[str, str] = {}
                if isinstance(items, list):
                    for it in items:
                        if not isinstance(it, dict):
                            continue
                        iid = str(it.get("id") or "").strip()
                        u = str(it.get("image_url") or "").strip()
                        if iid and u:
                            id_to_url[iid] = u
                try:
                    c = json.loads(cache_body or "{}")
                    cached_url = (c.get("image_url") or "").strip()
                except Exception:
                    cached_url = ""
                image_url = ""
                for f in files or []:
                    if not isinstance(f, dict):
                        continue
                    u = (f.get("url") or f.get("remote_url") or "").strip()
                    if u:
                        image_url = u
                        break
                keys = list(id_to_url.keys())
                if not keys:
                    return _empty()
                alt = "|".join(re.escape(k) for k in sorted(keys, key=len, reverse=True))
                pat = re.compile(alt)
                q = query or ""
                selected: list[str] = []
                for m in pat.finditer(q):
                    kid = m.group(0)
                    if kid not in selected:
                        selected.append(kid)
                    if len(selected) >= 4:
                        break
                if not selected:
                    return _empty()
                product_urls = [id_to_url[k] for k in selected if k in id_to_url][:4]
                if not product_urls:
                    return _empty()
                room_effective = (image_url or "").strip() or cached_url
                if not room_effective:
                    return {
                        **_empty(),
                        "selected_ids_line": ",".join(selected),
                        "gate_hint": (
                            "已识别素材 id，但还没有可用的**空间实景图**。"
                            "请先上传房间照片（可与 id 写在同一条消息）；"
                            "若上一轮已成功上传并缓存过图，请再发一次 id 或刷新后重试。"
                        ),
                    }
                hint = (
                    "用户自选素材 id（按出现顺序融入，产品图以参考为准）："
                    + ",".join(selected)
                    + "。用户原话摘录："
                    + (q.strip()[:1500] if q.strip() else "（无）")
                )
                payload = {
                    "room_image_url": room_effective,
                    "product_image_urls": product_urls,
                    "style_notes": hint,
                    "conversation_id": (conversation_id or "").strip(),
                }
                room_note = (
                    "底图：本轮新上传的实景图。"
                    if (image_url or "").strip()
                    else "底图：本会话此前缓存的实景图（请求里已填入 room_image_url，便于核对）。"
                )
                return {
                    "compose_body_json": json.dumps(payload, ensure_ascii=False),
                    "image_url": image_url,
                    "selected_ids_line": ",".join(selected),
                    "gate_hint": "",
                    "room_note": room_note,
                }
          code_language: python3
          desc: 合并本轮上传图与 GET 缓存 URL 作为 room_image_url；无空间图且有 id 时 gate_hint 提示
          outputs:
            compose_body_json:
              description: 非空则进入合成分支
              type: string
            image_url:
              description: 本轮首张图 URL（可无）
              type: string
            selected_ids_line:
              description: 已选 id 逗号分隔
              type: string
            gate_hint:
              description: 未合成时的提示（如缺实景图）
              type: string
            room_note:
              description: 合成成功分支用的底图来源说明
              type: string
          title: 解析所选素材并组装请求
          type: code
          variables:
            - label: body
              value_selector:
                - node_http_furnishing_assets
                - body
              variable: body
            - label: query
              value_selector:
                - sys
                - query
              variable: query
            - label: files
              value_selector:
                - sys
                - files
              variable: files
            - label: conversation_id
              value_selector:
                - sys
                - conversation_id
              variable: conversation_id
            - label: cache_body
              value_selector:
                - node_http_room_cache
                - body
              variable: cache_body
        id: node_code_merge
        position:
          x: 680
          y: 320
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          cases:
            - case_id: ready
              conditions:
                - comparison_operator: not empty
                  variable_selector:
                    - node_code_merge
                    - compose_body_json
              logical_operator: and
          desc: compose_body_json 非空则走合成
          title: 已选素材?
          type: if-else
        id: node_ifelse_ready
        position:
          x: 900
          y: 320
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          authorization:
            config:
              api_key: 'REPLACE_WITH_SALON_INTERNAL_BOOKING_TOKEN'
              header: ''
              type: bearer
            type: api-key
          body:
            data:
              - id: json-body-snap
                key: ''
                type: text
                value: '{"conversation_id":"{{#sys.conversation_id#}}","image_url":"{{#node_code_merge.image_url#}}"}'
            type: json
          desc: 有图时写入会话，供 room_image_url 为空时网关补全
          headers: 'Content-Type: application/json'
          method: post
          params: ''
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 500
          ssl_verify: true
          timeout:
            max_connect_timeout: 10
            max_read_timeout: 30
            max_write_timeout: 10
          title: 缓存会话图片
          type: http-request
          url: https://quizmesh.tech/salon/internal/conversation-image
          variables: []
        id: node_http_snap_image
        position:
          x: 1040
          y: 200
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          authorization:
            config:
              api_key: 'REPLACE_WITH_SALON_INTERNAL_BOOKING_TOKEN'
              header: ''
              type: bearer
            type: api-key
          body:
            data:
              - id: json-body-compose
                key: ''
                type: text
                value: '{{#node_code_merge.compose_body_json#}}'
            type: json
          desc: 空间 + 产品参考图多图编辑（万相 2.7）
          headers: 'Content-Type: application/json'
          method: post
          params: ''
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          ssl_verify: true
          timeout:
            max_connect_timeout: 10
            max_read_timeout: 90
            max_write_timeout: 30
          title: 家居素材融入（多图合成）
          type: http-request
          url: https://quizmesh.tech/salon/internal/furnishing-compose-preview
          variables: []
        id: node_http_compose
        position:
          x: 1260
          y: 200
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          code: |
            import json

            def main(body: str) -> dict:
                try:
                    data = json.loads(body or "{}")
                    url = data.get("preview_url") or ""
                except Exception:
                    url = ""
                return {"preview_url": url}
          code_language: python3
          desc: 解析 preview_url
          outputs:
            preview_url:
              description: 合成图 URL
              type: string
          title: 解析合成图URL
          type: code
          variables:
            - label: body
              value_selector:
                - node_http_compose
                - body
              variable: body
        id: node_code_parse_preview
        position:
          x: 1480
          y: 200
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          answer: |-
            {{#node_code_catalog.catalog_text#}}

            {{#node_code_merge.gate_hint#}}
          desc: ''
          title: Answer（待选素材）
          type: answer
          variables: []
        id: node_answer_wait
        position:
          x: 1040
          y: 440
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          answer: |-
            {{#node_code_merge.room_note#}}

            已按所选素材 **{{#node_code_merge.selected_ids_line#}}** 与上述底图完成多图合成示意（AI 参考，非实景承诺）。

            ![]({{#node_code_parse_preview.preview_url#}})
          desc: ''
          title: Answer（合成结果）
          type: answer
          variables: []
        id: node_answer_done
        position:
          x: 1700
          y: 200
        sourcePosition: right
        targetPosition: left
        type: custom
