deploy/dify/salon_booking_chatflow.yml
# Dify DSL — Salon Chatflow v4
#
# 新功能（v4）：发型效果图生成
# ─────────────────────────────
# 用户上传照片后，流程在提交预约之后额外生成发型效果图：
#   1. Code 节点（提取图片URL）：从 sys.files 取出首张图片的访问 URL。
#   2. Extractor 提取 service / color_summary，作为发型描述传给生成 API。
#   3. 提交预约（同 v3，先于图像生成，确保预约不因图像超时而丢失）。
#   4. IF-ELSE：检查 code 节点是否拿到了图片 URL。
#      ├─ 有图 → HTTP 调 /internal/hairstyle-preview（通义万相，约 10–30s）
#      │         → Answer（LLM 文字 + 效果图 Markdown）
#      └─ 无图 → Answer（仅 LLM 文字，同 v3）
#
# 注意：
#   • image_url 必须是 DashScope 可公开拉取的 HTTPS URL。
#     若 Dify 文件来自 remote_url 上传（外部 URL），直接可用；
#     若来自 local_file 上传（Dify 内部存储），需先转存至 OSS。
#   • Dify「生成效果图」HTTP 节点 read_timeout 须 ≥ 90s（通义万相生成耗时）。
#   • 后端须配置 SALON_DASHSCOPE_API_KEY；未配置则该端点返回 503，
#     Dify 报 HTTP 错误，效果图分支失败但预约已提交（不影响主流程）。
#
# 架构原则（继承自 v3）
# ─────────────────────
# Dify 无状态：参数提取节点每次只看「当前用户消息」。
# 状态管理在后端 BookingSessionStore；phone+store+slot_text 首次齐全才写飞书。
#
# 导入后必做：
# 1) 「LLM」节点选 Vision 模型（如 qwen-vl-plus）。
# 2) 「提取预约参数」节点可选 deepseek-chat 等纯文本模型（省成本）。
# 3) 「提交预约」和「生成效果图」HTTP 节点 → 鉴权 Bearer → 填 SALON_INTERNAL_BOOKING_TOKEN。
# 4) 「生成效果图」HTTP 节点 → 超时设置 → read timeout 改为 90s。
# 5) 若网关不在默认域名，改 URL。
# 6) 发布。

app:
  description: Salon WeCom gateway v4 — booking + hairstyle preview
  icon: 💇
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Salon 预约客服 v4
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: true
        number_limits: 3
        transfer_methods:
          - remote_url
          - local_file
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      # ── 主干 ──────────────────────────────────────────────────────────
      - id: start-llm
        source: node_start
        sourceHandle: source
        target: node_llm
        targetHandle: target
      - id: llm-code
        source: node_llm
        sourceHandle: source
        target: node_code_extract
        targetHandle: target
      - id: code-extractor
        source: node_code_extract
        sourceHandle: source
        target: node_extractor
        targetHandle: target
      - id: extractor-booking
        source: node_extractor
        sourceHandle: source
        target: node_http_booking
        targetHandle: target
      - id: booking-ifelse
        source: node_http_booking
        sourceHandle: source
        target: node_ifelse_has_image
        targetHandle: target
      # ── 有图分支（true）───────────────────────────────────────────────
      - id: ifelse-hairstyle
        source: node_ifelse_has_image
        sourceHandle: has_image
        target: node_http_hairstyle
        targetHandle: target
      - id: hairstyle-answer-img
        source: node_http_hairstyle
        sourceHandle: source
        target: node_answer_img
        targetHandle: target
      # ── 无图分支（false）──────────────────────────────────────────────
      - id: ifelse-answer-text
        source: node_ifelse_has_image
        sourceHandle: 'false'
        target: node_answer_text
        targetHandle: target

    nodes:
      # ── Start ────────────────────────────────────────────────────────
      - data:
          desc: ''
          title: Start
          type: start
          variables: []
        id: node_start
        position:
          x: 80
          y: 300
        sourcePosition: right
        targetPosition: left
        type: custom

      # ── LLM（Vision）────────────────────────────────────────────────
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: ''
          memory:
            query_prompt_template: '{{#sys.query#}}\n\n{{#sys.files#}}'
            window:
              enabled: true
              size: 20
          model:
            completion_params:
              temperature: 0.5
            mode: chat
            name: ''
            provider: ''
          prompt_template:
            - role: system
              selected: true
              text: |-
                你是美发沙龙线上客服。用简短、友好的中文回复用户。
                若用户想预约，引导收集：联系电话、门店、服务项目、意向时间。
                不要回复「我是 AI 无法预约」。
                当你判断已收集到电话+门店+时间时，在回复中告知用户"预约已提交，等待确认"。
                若用户发送了照片（本人照片或参照案例），请仔细分析图片，结合发质、脸型、当前发色等，
                推荐 2-3 个具体的发型或染发方案（包括发色名称、参考色号、造型建议），语气专业且亲切。
                若用户上传了本人照片并明确希望看效果图，告知用户"正在为您生成发型效果图，请稍候…"。
            - role: user
              selected: true
              text: "{{#sys.query#}}\n{{#sys.files#}}"
          title: LLM
          type: llm
          variables: []
          vision:
            enabled: true
        id: node_llm
        position:
          x: 300
          y: 300
        sourcePosition: right
        targetPosition: left
        type: custom

      # ── Code：提取首张图片 URL ──────────────────────────────────────
      - data:
          code: |
            def main(files: list) -> dict:
                for f in (files or []):
                    url = (f or {}).get("url") or (f or {}).get("remote_url") or ""
                    if url:
                        return {"image_url": url}
                return {"image_url": ""}
          code_language: python3
          desc: 从 sys.files 提取首张图片的可访问 URL（无图时返回空字符串）
          outputs:
            image_url:
              description: 首张图片的 URL，无图时为空字符串
              type: string
          title: 提取图片URL
          type: code
          variables:
            - label: files
              value_selector:
                - sys
                - files
              variable: files
        id: node_code_extract
        position:
          x: 520
          y: 300
        sourcePosition: right
        targetPosition: left
        type: custom

      # ── Parameter Extractor ──────────────────────────────────────────
      - data:
          desc: 从当前用户消息提取本轮新增的预约字段（网关负责跨轮累积）
          instruction: |-
            从当前用户输入中提取预约相关字段。只提取本条消息中明确出现的信息；
            未出现的字段返回空字符串。
          memory:
            enabled: false
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.2
            mode: chat
            name: ''
            provider: ''
          parameters:
            - description: 用户联系手机号（如 18310607536）
              name: phone
              required: false
              type: string
            - description: 门店名称（如 东门店、西门店）
              name: store
              required: false
              type: string
            - description: 预约时间自然语言（如 周五晚上7点、明天下午3点）
              name: slot_text
              required: false
              type: string
            - description: 服务项目（如 染发、烫发、剪发、洗剪吹）
              name: service
              required: false
              type: string
            - description: 发色方案要求（如 黄色、黑色渐变）
              name: color_summary
              required: false
              type: string
          query:
            - sys
            - query
          reasoning_mode: prompt
          title: 提取预约参数
          type: parameter-extractor
        id: node_extractor
        position:
          x: 740
          y: 300
        sourcePosition: right
        targetPosition: left
        type: custom

      # ── HTTP：提交预约 ───────────────────────────────────────────────
      - data:
          authorization:
            config:
              api_key: 'REPLACE_WITH_SALON_INTERNAL_BOOKING_TOKEN'
              header: ''
              type: bearer
            type: api-key
          body:
            data:
              - id: json-body-booking
                key: ''
                type: text
                value: '{"channel":"dify","conversation_id":"{{#sys.conversation_id#}}","phone":"{{#node_extractor.phone#}}","store":"{{#node_extractor.store#}}","service":"{{#node_extractor.service#}}","slot_text":"{{#node_extractor.slot_text#}}","color_summary":"{{#node_extractor.color_summary#}}","notes":"{{#node_llm.text#}}","status":"pending"}'
            type: json
          desc: |-
            每轮都 POST；网关 BookingSessionStore 跨轮累积字段，
            phone+store+slot_text 首次齐全时才写飞书（complete=true）。
          headers: 'Content-Type: application/json'
          method: post
          params: ''
          retry_config:
            max_retries: 2
            retry_enabled: true
            retry_interval: 500
          ssl_verify: true
          timeout:
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
          title: 提交预约
          type: http-request
          url: https://quizmesh.tech/salon/internal/booking
          variables: []
        id: node_http_booking
        position:
          x: 960
          y: 300
        sourcePosition: right
        targetPosition: left
        type: custom

      # ── IF-ELSE：是否有图片 ──────────────────────────────────────────
      - data:
          cases:
            - case_id: has_image
              conditions:
                - comparison_operator: not empty
                  variable_selector:
                    - node_code_extract
                    - image_url
              logical_operator: and
          desc: ''
          title: 是否有图片
          type: if-else
        id: node_ifelse_has_image
        position:
          x: 1180
          y: 300
        sourcePosition: right
        targetPosition: left
        type: custom

      # ── HTTP：生成发型效果图（有图分支）────────────────────────────
      - data:
          authorization:
            config:
              api_key: 'REPLACE_WITH_SALON_INTERNAL_BOOKING_TOKEN'
              header: ''
              type: bearer
            type: api-key
          body:
            data:
              - id: json-body-hairstyle
                key: ''
                type: text
                value: '{"image_url":"{{#node_code_extract.image_url#}}","style_prompt":"{{#node_extractor.service#}} {{#node_extractor.color_summary#}}","conversation_id":"{{#sys.conversation_id#}}"}'
            type: json
          desc: |-
            调用通义万相生成发型效果图（约 10–30 秒）。
            ⚠ 导入后需手动将 read timeout 改为 90s。
            返回 JSON：{"preview_url": "https://...", "task_id": "..."}
          headers: 'Content-Type: application/json'
          method: post
          params: ''
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          ssl_verify: true
          timeout:
            max_connect_timeout: 10
            max_read_timeout: 90
            max_write_timeout: 30
          title: 生成发型效果图
          type: http-request
          url: https://quizmesh.tech/salon/internal/hairstyle-preview
          variables: []
        id: node_http_hairstyle
        position:
          x: 1400
          y: 100
        sourcePosition: right
        targetPosition: left
        type: custom

      # ── Answer：含效果图（有图分支）────────────────────────────────
      - data:
          answer: "{{#node_llm.text#}}\n\n![发型效果预览]({{#node_http_hairstyle.body.preview_url#}})"
          desc: ''
          title: Answer（含效果图）
          type: answer
          variables: []
        id: node_answer_img
        position:
          x: 1660
          y: 100
        sourcePosition: right
        targetPosition: left
        type: custom

      # ── Answer：纯文字（无图分支）──────────────────────────────────
      - data:
          answer: '{{#node_llm.text#}}'
          desc: ''
          title: Answer
          type: answer
          variables: []
        id: node_answer_text
        position:
          x: 1400
          y: 500
        sourcePosition: right
        targetPosition: left
        type: custom
