deploy/dify/salon_booking_chatflow.yml
# Dify DSL — Salon Chatflow v3
#
# 架构原则（生产最佳实践）
# ─────────────────────────
# Dify 无状态：参数提取节点每次只看「当前用户消息」，无法跨轮累积字段。
# 正确做法：把状态管理放到后端（Python BookingSessionStore），Dify 只做：
#   1. LLM 对话引导
#   2. 从当前消息提取字段（parameter-extractor, query=sys.query）
#   3. 每轮 POST 到网关（无论信息是否完整）
# 网关负责跨轮累积，在首次 phone+slot_text+store 均齐时才写飞书，后续重复
# 请求不再重写（complete=false 表示"收到但尚未完整"，complete=true 表示已写入）。
#
# 导入后必做：
# 1) 打开「LLM」节点，选择模型供应商与模型。
# 2) 打开「提取预约参数」节点，同样选择模型（建议与 LLM 相同）。
# 3) 打开「提交预约」HTTP 节点 → 鉴权 API-Key（Bearer）→ 填入 SALON_INTERNAL_BOOKING_TOKEN。
#    只保留内置 Bearer，不要在 Headers 再手动加 Authorization（两套并存必 401）。
# 4) 若网关不在默认域名，改 URL。
# 5) 发布。

app:
  description: Salon WeCom gateway v3 — session-based booking accumulation
  icon: 💇
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Salon 预约客服 v3
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: true
        number_limits: 3
        transfer_methods:
          - remote_url
          - local_file
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - id: start-llm
        source: node_start
        sourceHandle: source
        target: node_llm
        targetHandle: target
      - id: llm-extractor
        source: node_llm
        sourceHandle: source
        target: node_extractor
        targetHandle: target
      - id: extractor-http
        source: node_extractor
        sourceHandle: source
        target: node_http
        targetHandle: target
      - id: http-answer
        source: node_http
        sourceHandle: source
        target: node_answer
        targetHandle: target
    nodes:
      - data:
          desc: ''
          title: Start
          type: start
          variables: []
        id: node_start
        position:
          x: 80
          y: 282
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: ''
          memory:
            query_prompt_template: '{{#sys.query#}}\n\n{{#sys.files#}}'
            window:
              enabled: true
              size: 20
          model:
            completion_params:
              temperature: 0.5
            mode: chat
            name: ''
            provider: ''
          prompt_template:
            - role: system
              selected: true
              text: |-
                你是美发沙龙线上客服。用简短、友好的中文回复用户。
                若用户想预约，引导收集：联系电话、门店、服务项目、意向时间。
                不要回复「我是 AI 无法预约」。
                当你判断已收集到电话+门店+时间时，在回复中告知用户"预约已提交，等待确认"。
                若用户发送了照片（本人照片或参照案例），请仔细分析图片，结合发质、脸型、当前发色等，
                推荐 2-3 个具体的发型或染发方案（包括发色名称、参考色号、造型建议），语气专业且亲切。
          title: LLM
          type: llm
          variables: []
          vision:
            enabled: true
        id: node_llm
        position:
          x: 380
          y: 282
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          desc: 从当前用户消息提取本轮新增的预约字段（网关负责跨轮累积）
          instruction: |-
            从当前用户输入中提取预约相关字段。只提取本条消息中明确出现的信息；
            未出现的字段返回空字符串。
          memory:
            enabled: false
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.2
            mode: chat
            name: ''
            provider: ''
          parameters:
            - description: 用户联系手机号（如 18310607536）
              name: phone
              required: false
              type: string
            - description: 门店名称（如 东门店、西门店）
              name: store
              required: false
              type: string
            - description: 预约时间自然语言（如 周五晚上7点、明天下午3点）
              name: slot_text
              required: false
              type: string
            - description: 服务项目（如 染发、烫发、剪发、洗剪吹）
              name: service
              required: false
              type: string
            - description: 发色方案要求（如 黄色、黑色渐变）
              name: color_summary
              required: false
              type: string
          query:
            - sys
            - query
          reasoning_mode: prompt
          title: 提取预约参数
          type: parameter-extractor
        id: node_extractor
        position:
          x: 680
          y: 282
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          authorization:
            config:
              api_key: 'REPLACE_WITH_SALON_INTERNAL_BOOKING_TOKEN'
              header: ''
              type: bearer
            type: api-key
          body:
            data:
              - id: json-body-booking
                key: ''
                type: text
                value: '{"channel":"dify","conversation_id":"{{#sys.conversation_id#}}","phone":"{{#node_extractor.phone#}}","store":"{{#node_extractor.store#}}","service":"{{#node_extractor.service#}}","slot_text":"{{#node_extractor.slot_text#}}","color_summary":"{{#node_extractor.color_summary#}}","notes":"{{#node_llm.text#}}","status":"pending"}'
            type: json
          desc: |-
            每轮都 POST；网关 BookingSessionStore 跨轮累积字段，
            phone+store+slot_text 首次齐全时才写飞书（complete=true）。
          headers: 'Content-Type: application/json'
          method: post
          params: ''
          retry_config:
            max_retries: 2
            retry_enabled: true
            retry_interval: 500
          ssl_verify: true
          timeout:
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
          title: 提交预约
          type: http-request
          url: https://quizmesh.tech/salon/internal/booking
          variables: []
        id: node_http
        position:
          x: 980
          y: 282
        sourcePosition: right
        targetPosition: left
        type: custom

      - data:
          answer: '{{#node_llm.text#}}'
          desc: ''
          title: Answer
          type: answer
          variables: []
        id: node_answer
        position:
          x: 1280
          y: 282
        sourcePosition: right
        targetPosition: left
        type: custom
